@import url(https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i);


@import 'tailwindcss';
@import '@skeletonlabs/skeleton';


@import '../themes/default.css';


[data-theme] {
	--typo-base--font-family: 'Instrument Sans', sans-serif;
}


:root {
  color-scheme: light dark;
}


* {
	border-color: light-dark(var(--color-surface-200), var(--color-surface-800));
}


body {
  background: light-dark(var(--color-surface-50), var(--color-surface-950));
  color: light-dark(var(--color-surface-contrast-50), var(--color-surface-contrast-950));
	font-family: var(--typo-base--font-family);
}